/* estilos del index*/


.nav-item {
    font-size: 25px;
    font-weight: bolder;
    font-family: Georgia;
}

.index {
    display: grid;
   
    background-color: $background-color;
    padding: 10px;
    margin: 20px;
}

@media (min-width:360px) {

    .index {

        grid-template-columns: auto;
    }
}


@media (min-width:720px) {
    .index {

        grid-template-columns: auto;

    }
}

@media (min-width:1024px) {
    .index {

        grid-template-columns: auto;

    }
}


.index__titulo {

    padding: 20px;
    height: 90px;
    background-color: rgb(23, 101, 100);
    color: rgb(160, 240, 221);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    font-family: Georgia;

}

.contenidouno {
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    font-family: georgia;
}

img {
    width: 100%;
    padding: 80px;


}
.actividades {
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
    justify-content: left;
    text-align: center;
    font-family: georgia;
   
}

.contenido {

    margin-top: 50px;
    padding: 50pxz;
}

