
/* estilo footer universal*/

.pieuniversal__centro {
    display: flex;
    height: 50px;
    background-color: rgb(1, 47, 43);
    justify-content: center;
    color: rgb(204, 245, 218);
    font-size: 15px;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 15px;



}