
//mapas botones

// tipo de usuario

//basic

$basic:(
    color-basic:rgb(19, 234, 234),
    bg-basic:rgb(12, 9, 9),
    border-basic:1px solid black,
);

//full

$full:( color-basic:rgb(19, 234, 148),
bg-basic:rgb(12, 9, 9),
border-basic:1px solid black,
);






